.numbers {
    margin: 30px 0px;
    text-align: center;
}

.number {
    margin: 20px 10px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 24px;
    display: inline;
    background-color: crimson;
}
